@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To CloudCoin Store</h1>
    <p class="lead">World' First fully automated, 100 % anonymous, Digital currency Store.</p>
    <p><a href="https://cloudcoin.global" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Its really easy.Go to the Buy page, select your denomination and quanity,
            Choose any of the 3 main cryptocurrency wallets and make a payment.
            You will recieve an invoice and your Cloudcoins in your email once the transaction is confirmed.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Contact.cshtml">Buy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Payment methods</h2>
        <p>We support the Top 3 cryptocurrency as payment methods. so you can conduct your transactions totally anonymouos.</p>
        <p><a class="btn btn-default" href="~/Views/Home/Contact.cshtml">Buy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>After Sales support</h2>
        <p>We Ensure you recieve your cloudcoins hassle free. So we guide you on every step of the process so that you can take ownership of your coins without any issues</p>
        <p><a class="btn btn-default" href="~/Views/Home/Contact.cshtml">Buy &raquo;</a></p>
    </div>
</div>